* {
    border: none;
    font-size: 14px;
    font-family: "JetBrainsMono Nerd Font,JetBrainsMono NF" ; 
    /* font-family:Arial, Helvetica, sans-serif; */
    font-weight: bold;
    /* min-height: 20px; */
}




tooltip{
    border: 2px solid #d599e0;
    border-radius: 20px;
   background-color: #1f0f3a; 
}

tooltip label {
    font-weight: bold;
    color: #d599e0;
}


#waybar.main{
    background: transparent;

}

#waybar > box {
margin: 1px;
/* background-color: #1a211b; */
}


.modules-left, .modules-right, .modules-center{
    background-color: #1f0f3a; 
    border-radius: 25px;
    border: 3px solid #d599e0;
    
}
.modules-left{
    padding-right: 10px;
}
.modules-right{
    padding-left: 10px;
    
}






/*  modules  */
#workspaces {
padding: 0 1px;
background-color: @workspaces;
}

#window {
margin-left: 12px;
}

#cpu {
background-color: @cpu;
}

#battery {
background-color: @battery;
}

#backlight {
background-color: @backlight;
}










#memory.warning, #battery.warning, #temperature.warning
{
color: #fcfc03;
background-color: transparent;
}

#memory.critical, #battery.critical, #temperature.critical{
color: #ff0000;
background-color: transparent;
}

#battery.charging {
color: #00ff1a;
background-color: transparent;
}

#battery.plugged {
color: #00aaff;
background-color: transparent;
}

#custom-cpu.cpu-low {
    color: #ffffff;  /* green */
}

#custom-cpu.cpu-medium {
    color: #ffff00;  /* yellow */
}

#custom-cpu.cpu-high {
    color: #ff0000;  /* red */
}

#network.disabled{
    color: #ff0000;  /* red */
}

#network.disconnected{
     color: #ffff00;
}

#bluetooth.disabled{
    color: #000000;  /* red */
}

#bluetooth.off{
    color: #ff0000;  /* red */
}

#bluetooth.connected{
     color: #00aaff;
}