* {
    font-family: "Hack", monospace;
    outline: none;
    border: none !important;
    box-shadow: none !important;
}

window {
    background-color: #d599e0;
    border: none !important;
    box-shadow: none !important;
}

#input {
    margin: 5px;
    border-radius: 20px;
    background-color: #543e79;
    color: white;
}

#input:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

#inner-box {
    background-color: #1f0f3a;
}

#outer-box {
    margin: 2px;
    padding: 10px;
    background-color: #1f0f3a;
}

#scroll {
    margin: 5px;
}

#entry {
    border: none;
}

#entry:nth-child(even) {
    background-color: #1f0f3a;
}

#entry:selected {
    background-color: #d599e0;
    border-radius: 20px;
}

#entry:last-child {
    border: none;
}

#text {
    padding: 6px;
    color: white;
}

#text:selected {
    background: transparent;
}
list separator,
#separator,
separator {
    border: none !important;
    background: none !important;
    box-shadow: none !important;
    min-height: 0 !important;
}

